.table-container {
  display: table;
  text-align: left;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  height: 100%;
  width: 50%;
}
.table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Gidole', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255,255,255,0.5);
  font-size: 1rem;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.table tbody {
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.table td {
  padding: 15px 20px !important;
  font-size: 0.8rem;
  font-weight: 600;
}
.table td.command {
  width: 30%;
  color: rgba(255,255,255,0.7);
}
.table td.action {
  width: 70%;
  line-height: 1rem;
}

.table tbody::-webkit-scrollbar {
  width: 5px;
}
.table tbody::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
}
