.right {
  position: absolute;
  right: 10px;
  top: 7px;
}

#start_button {
  border: 0;
  background-color:transparent;
  padding: 0;
  cursor: pointer;
}

#start_button:focus {
  outline: none;
}

.rec-container {
  position: relative;
  height: 20px;
  width: 20px;
}

.dot {
  width: 5px;
  height: 5px;
  border: 6px solid #FF3030;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #ffffff;
  z-index: 10;
  position: absolute;
}

.pulse {
  border: 4px solid #EE6363;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 34px;
  width: 34px;
  -webkit-animation: pulse 2s ease-out;
  -moz-animation: pulse 2s ease-out;
  animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -1px;
  left: -11px;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(.3);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(.4);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.5);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.6);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(.7);
    opacity: 0.0;
 }
}

@-webkit-keyframes pulse {
 0% {
    -webkit-transform: scale(.3);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(.4);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.6);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(.7);
    opacity: 0.0;
 }
}

@keyframes pulse {
 0% {
    transform: scale(.3);
    opacity: 0.0;
 }
 25% {
    transform: scale(.4);
    opacity: 0.1;
 }
 50% {
    transform: scale(0.5);
    opacity: 0.3;
 }
 75% {
    transform: scale(0.6);
    opacity: 0.5;
 }
 100% {
    transform: scale(.7);
    opacity: 0.0;
 }
}
